* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: bisque;
    display: flex;
    padding: 30px;
    align-items: center;
    flex-direction: column;
    background-image: url("/src/images/coffeehd.jpg");
    background-size: cover;
    box-shadow: 0 7px 3px rgb(78, 40, 2);
}

nav {
    display: flex;
    flex-direction: column;
    width: 90%;
}

header h1 {
    text-align: center;
    margin: 0;
    font-weight: 900;
    font-size: 50px;
    text-shadow: 0px 0px 5px rgb(235, 198, 171);
    color: rgb(243, 196, 163);
    border-bottom: 5px solid rgb(243, 196, 163);
}

.nav-item {
    background-color: rgb(243, 196, 163);
    border-radius: 20px;
    padding: 0.625em; 
    color: rgb(99, 64, 39);
    text-align: center;
    font-weight: bold;
}

.unLink {
    text-decoration: none;
    color: black;
}

.home-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(64, 32, 10);
    margin-bottom: 0;
}

.home-main p {
    margin: 0 3.125em;
}

.main-show {
    border-bottom: 1px solid rgb(64, 32, 10);
}

.footer {
    text-align: center; 
    background-color: rgb(64, 32, 10) ;
    color: rgb(243, 196, 163);
    padding: 1.875em;
}

.footer a {
    color: rgb(243, 196, 163) ;
    text-decoration: none;
    border-bottom: 1px solid rgb(243, 196, 163);
}

.section-store{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 196, 163);
    width: 100%;
    margin-top: 10px;
}

.welcome {
    padding: 3.125em;
}

.suggestion {
    margin: 0;
    display: flex;
}


.coffee-suggestion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.25em;
    border-radius: 20%;
    margin: 1.25em;
    border: 5px solid rgb(64, 32, 10) ;
    box-shadow: 0px 10px 2px rgb(31, 13, 1) ;
}

.coffee-suggestion-title {
    margin: 0;
    font-size: 50px;
    text-shadow: 3px 2px 1px rgb(133, 92, 64);
}

.coffee-suggestion-data{
    display: flex;
}

.coffee-suggestion-data p {
    font-size: 20px;
}

.data-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    inline-size: 500px;
    overflow-wrap: break-word;
}

.data-detail p {
    margin-bottom: 30px;
}


.suggestion-img {
    width: 50%;
    max-width: 300px;
    border-radius: 50%;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125em;
    color:rgb(64, 32, 10) ;
}

.history h1 {
    text-align: center;
}

.history p {
    text-align: justify;
}

.history div{
    display: flex;
    align-items: center;
}

.history-1 {
    margin-bottom: 0.625em;
}

.history-1 img{
    max-width: 50%;
    padding: 0 0.625em;
}

.history-2 img {
    
    padding: 0 0.625em;
}

.history-3 img {
    width: 50%;
    padding: 0 0.625em;
}

.satan {
    color: rgb(175, 2, 2);
}

.products-page h1 {
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.products {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px 30px 0 30px;
    justify-content: center;
}

.coffee {
    color: rgb(64, 32, 10);
    flex-basis: 220px;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 2px rgb(64, 32, 10) ;
    margin-bottom: 20px;
    max-width: 300px;
    border-radius: 5px;
}

.coffee-title {
    margin: 0;
}

.coffee-img {
    max-width: 80%;
    border-radius: 10px;
    max-height: 50%;
}

.coffee-price{
    font-size: 20px;
}

.coffee-btn {
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(240, 163, 80);
    font-weight: bold;
    font-size: 15px;
    font-family: inherit;
}

.contact-page {
    display: flex;
    flex-direction: column;
}

.contacts-intro {
    background-image: url("./images/contactbg.jpg");
    background-size: cover;
    padding: 10em 2em;
}

.contacts {
    display: flex;
    justify-content: center;
}

.contacts-phone {
    background-image: url("./images/carton.jpg");
    background-size: cover;
    padding: 1em;
    flex-grow: 1;
}

.contacts-email {
    background-image: url("./images/papel.jpg");
    background-size: cover;
    padding: 1em;
    flex-grow: 1;
}

@media (min-width: 806px) {
    header, nav {
        flex-direction: row;
    }

    header {
        justify-content: space-between;
    }

    header h1{
        border: none;
        width: auto;
    }

    nav {
        justify-content: end;
        gap: 20px;
        width: auto;
    }

    .history-1 {
        flex-direction: column;
    }

    .history-1 img {
        width: 20%;
    }

    .history-2 {
        flex-direction: column;
    }

    .history-2 img {
        width: 20%;
        order: 1;
    }

    .history-3 {
        flex-direction: column;
    }

    .history-3 img {
        width: 20%;
        height: 300px;
    }
}